.node rect,
.node circle,
.node ellipse,
.node polygon {
    stroke: #333;
    fill: #fff;
    stroke-width: 1.5px;
}

.edgePath path.path {
    stroke: #333;
    fill: none;
    stroke-width: 1.5px;
}

g.type-OK > rect {
    fill: green !important;
}

g.type-pending > rect {
    fill: grey !important;
}

g.type-error > rect {
    fill: red !important;
}

g.type-inprogress > rect {
    fill: #9d9df9 !important;
}